.sectionbilet {
  top: 0;
  z-index: 1;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background: var(--Black, #1e1e1e);
}
.tabz {
  border: 0;
  color: #fff;
  background-color: #1e1e1e !important;
}
.tabz .nav-item button {
  background-color: #1e1e1e !important;
  color: gray !important;
  border: 0;
}
.tabz .nav-item  .nav-link.active {
  color: #fff !important;
  border-color: #1e1e1e !important;
}
.biletsat {
  background-color: #fff;
  height: 13rem;
  width: 45rem;
  margin-bottom: 10px;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.rightside {
  margin-top: 40px;
}
.icons {
  color: white;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.rightside p {
  color: white;
  }
  .rightside span {
    cursor: pointer;;
  }
