.sectionbilet {
  top: 0;
  z-index: 1;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background: var(--Black, #1e1e1e);
}
.sech4 {
  color: var(--White, #fff);
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 640;
  line-height: 28px;
  letter-spacing: 0.4px;
  /* margin-top: 40px; */
}
.sech4-2 {
  color: var(--White, #fff);
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 640;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin-top: 40px;
}
.tabz {
  border: 0;
  color: #fff;
  background-color: #1e1e1e !important;
  margin-top: 52px;
}
.tabz .nav-item button {
  background-color: #1e1e1e !important;
  border: 0;
  color: var(--Dusty-Gray, #999);
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.48px;
}
.tabz .nav-item .nav-link.active {
  color: #fff !important;
  border-color: #1e1e1e !important;
}
.biletsat {
  background-color: #1e1e1e;
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.biletsat2 {
  background-image: url("https://test.biletzero.com/images/vectors/ticket-left-part.svg");
  background-color: #1e1e1e;
  height: 200px;
  width: 18px;
}
.biletsat3 {
  height: 200px;
  width: 62%;
  background-color: #fff;
  display: flex;
}
.biletsatay {
  color: var(--Code-Black, #1e1e1e);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.48px;
}
.biletsatg端n {
  color: var(--Code-Black, #1e1e1e);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.88px;
  margin: 0;
}
.biletsatayg端n {
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  display: flex;
  padding: 9px 11px 0 11px;
  flex-direction: column;
  align-items: center;
  gap: -4px;
  background: #fff;
  width: 100px;
}
.biletsat-a1 {
  display: flex;
  width: 100%;
  height: auto;
  padding: 32px 0 24px 16px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}
.biletsatyer {
  color: var(--Code-Black, #1e1e1e);
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 640;
  line-height: 34px;
  letter-spacing: 0.48px;
}
.biletsatsaat {
  color: var(--Black, #1e1e1e);
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 540;
  line-height: 22px;
  letter-spacing: 0.48px;
}
.biletsatyer2 {
  color: var(--Dusty-Gray, #999);
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 640;
  line-height: 28px;
  letter-spacing: 0.48px;
}
.biletsatsaat2 {
  color: var(--Dusty-Gray, #999);
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 540;
  line-height: 22px;
  letter-spacing: 0.48px;
}
.biletciftk {
  color: var(--Mine-Shaft, #515151);
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.32px;
  margin: -12px 16px;
}

.biletsat4 {
  background-image: url("https://test.biletzero.com/images/vectors/desktop-ticket-big.svg");
  height: 200px;
  width: 268px;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.biletsat4b {
  height: 200px;
  width: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0d1d3;
}
.biletsat4-1 {
  color: var(--White, #fff);
  font-family: Cairo;
  font-size: 32px;
  font-style: normal;
  font-weight: 640;
  line-height: 44px;
  letter-spacing: 0.64px;
  margin-top: 20px;
}
.biletsat4-2 {
  color: var(--Alabaster, #e5e5e5);
  font-family: Cairo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.32px;
}
.biletsat4-3 {
  display: flex;
  width: 206px;
  height: 56px;
  padding: 17px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 59px;
  background: var(--White, #fff);
}
.biletsat4-4 {
  color: var(--Black, #1e1e1e);
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.4px;
  text-decoration: none;
}
.biletsat4-4b {
  color: var(--Black, #1e1e1e);
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 640;
  line-height: 34px;
  letter-spacing: 0.48px;
  background-color: #d0d1d3;
}
.biletsat4-3b {
  display: flex;
  width: 206px;
  height: 56px;
  padding: 17px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.biletsatiptal {
  background-color: #1e1e1e;
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.rightside {
  margin-top: 52px;
  border: 1px solid var(--Mine-Shaft, #515151);
  padding: 40px;
  width: 464px;
  margin-left: auto;
}
.icons {
  color: white;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
}
.rightside p {
  color: white;
}
.rightside span {
  cursor: pointer;
}
.carimg {
  height: 316px;
}
.secdiv {
  position: relative;
}
.secspan {
  position: absolute;
  left: 49%;
  top: 3.3%;
  color: var(--Gallery, #d0d1d3);
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}
.secspan2 {
  position: absolute;
  left: 49%;
  top: 3.5%;
  color: var(--Gallery, #d0d1d3);
  font-family: Cairo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

.biletsat2-b {
  background-image: url("https://test.biletzero.com/images/vectors/ticket-left-part.svg");
  background-color: #1e1e1e;
  height: 166px;
  width: 18px;
}
.biletsat3-b {
  height: 166px;
  width: 62%;
  background-color: #fff;
  display: flex;
}
.biletsat4-iptal {
  height: 166px;
  width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d1d3;
}
.biletsat4-ipt {
  color: #d72121;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 640;
  line-height: 34px;
  letter-spacing: 0.48px;
}
.ifra {
  background: var(--Black, #1e1e1e);
  padding: 100px 0 60px;
}
@media screen and (min-width: 1029px) {
  .sectionbiletmobil {
    display: none;
  }
}

@media screen and (min-width: 279px) and (max-width: 1028px) {
  .sectionbilet {
    display: none;
  }
  .sectionbiletmobil {
    top: 0;
    z-index: 1;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background: var(--Black, #1e1e1e);
  }
  .tabzmobil {
    border: 0;
    color: #fff;
    background-color: #1e1e1e !important;
    margin-top: 52px;
  }
  .tabzmobil .nav-item button {
    color: var(--Dusty-Gray, #999);
    background-color: #1e1e1e !important;
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 640;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
  .tabzmobil .nav-item .nav-link.active {
    color: #fff !important;
    border-color: #1e1e1e !important;
  }
  .rightside {
    margin-top: 52px;
    border: 1px solid var(--Mine-Shaft, #515151);
    padding: 40px;
    width: 100%;
  }
  .rightsidemobil p {
    color: var(--Alabaster, #e5e5e5);
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
  .rightsidemobil span {
    cursor: pointer;
  }
  .sech4mobil {
    color: var(--White, #fff);
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 640;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
  .sech4-2mobil {
    color: var(--White, #fff);
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 640;
    line-height: 22px;
    letter-spacing: 0.32px;
    margin-top: 3rem;
  }
  .secspanmobil {
    position: absolute;
    right: 5%;
    top: 5.5%;
    color: var(--Gallery, #d0d1d3);
    font-family: Cairo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0;
  }
  .secspan2mobil {
    position: absolute;
    right: 5%;
    top: 5.5%;
    color: var(--Gallery, #d0d1d3);
    font-family: Cairo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0;
  }
  .iframobil {
    padding-bottom: 5rem;
  }
  .biletsataymobil {
    color: var(--Code-Black, #1e1e1e);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2.56px;
    margin: 0;
  }
  .biletsatg端nmobil {
    color: var(--Code-Black, #1e1e1e);
    text-align: center;
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.64px;
    margin: 0;
  }
  .biletsatayg端nmobil {
    border: 1px solid #e5e5e5;
    border-radius: 1px;
    display: flex;
    padding: 9px 11px 0 11px;
    flex-direction: column;
    align-items: center;
    gap: -4px;
    background: #fff;
    width: 4rem;
    height: 5rem;
  }
  .biletsat3mobil {
    height: 8rem;
    width: 100%;
    background-color: #fff;
    display: flex;
  }
  .biletsat-a1mobil {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.8rem 0 24px 16px;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
  }
  .biletsatyermobil {
    color: var(--Code-Black, #1e1e1e);
    font-family: Cairo;
    font-size: 16px;
    font-style: normal;
    font-weight: 640;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.32px;
    margin: 0;
  }
  .biletsatmobil {
    color: var(--Black, #1e1e1e);
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 540;
    line-height: 22px;
    letter-spacing: 0.32px;
  }
  .biletciftkmobil {
    color: var(--Mine-Shaft, #515151); 
    font-family: Cairo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.28px;
    margin: -20px 16px;
  }

}
